$mediumScreen: 992px;
$smallScreen: 550px;

$black: #131515;
$jet: #2b2c28;

$green: #339989;
$filter-green: invert(53%) sepia(20%) saturate(1213%) hue-rotate(121deg) brightness(93%) contrast(86%);

$red: #993343;
$filter-red: invert(26%) sepia(45%) saturate(2115%) hue-rotate(319deg) brightness(82%) contrast(87%);

$blue-green: #7de2d1;
$filter-blue-green: invert(94%) sepia(5%) saturate(3291%) hue-rotate(103deg) brightness(89%) contrast(100%);

$snow: #fffafb;
$filter-snow: invert(90%) sepia(4%) saturate(263%) hue-rotate(303deg) brightness(106%) contrast(105%);

$basic-white: #f1f1f1;
$basic-red: #cc3613;
$basic-blue: #1388cc;
$basic-green: #3aa215;
$basic-yellow: #abb104;
